.row
  - if @nested == true
    .col-md-12.nested-footer
      .col-md-6
        %button#ap-accept-button.btn.btn-success.ap-button.nested-button
          Add these parts to my project
      .col-md-6
        %button#ap-accept-reset-button.btn.btn-success.ap-button.nested-button
          Add these parts and select another
  - elsif @nested == false
    .col-md-6.col-md-offset-6
      %button#ap-accept-button.btn.btn-success.btn-block.ap-button{data: {dismiss: 'modal'}, 'aria-hidden'=> 'true', disabled: true}
        Add these parts to my project
